footer {
	background: $gray2;
	padding: 5px 0;

	@include all($a: gcol-) {
		@include m(mlg) {
			margin: 5px 0;
		}
		&:nth-child(2) {
			p {
				@include m(mlg) {
					text-align: left;
				}
			}
		}
		&:nth-child(3) {
			@include m(tsm) {
				margin-top: 10px;
			}
		}
		p {
			color: $white;
		}
	}
}
